#hero-section {
    color: #363636;
}

/*---------- left ----------*/
#disp-left {
    float: left;
    width: 50%;
    height: 100%;
    background: url(../imgs/home.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    background-blend-mode: darken;
}

/*---------- right ----------*/
#disp-right {
    float: right;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 242, 218, 0.37);
}
#product-description {
    width: 85%;
    height: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.title-wide {
    width: 80%;
    margin-bottom: 70px;
}
.title-narrow {
    width: 50%;
    margin-bottom: 30px;
}
.main-description-wide {
    font-size: 30px;
    font-weight: 500;  
    margin-bottom: 15px;
}
.main-description-narrow {
    font-size: 23px;
    font-weight: 500;  
    margin-bottom: 15px;
}
.sub-description-wide {
    font-size: 25px;
    font-weight: 200;  
}
.sub-description-narrow {
    font-size: 18px;
    font-weight: 200;  
}
.download-btn {
    margin-top: 30px;
    padding: 10px;
    width: 90%;
    font-size: 20px;
    font-weight: 700; 
    background-color: #ff880094;
    color: white;
    border: none;
}
.download-btn:hover {
    background-color: #313131;
    border: none;
}

.github-btn {
    margin-top: 30px;
    padding: 10px;
    width: 90%;
    font-size: 20px;
    font-weight: 700; 
    background-color: #8d8d8d94;
    color: white;
    border: none;
}
.github-btn:hover {
    background-color: #313131;
    border: none;
}
.space {
    padding-top: 200px;
}

/* language */
#language-bar {
    width: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: 12px;
}
#language-bar li a {
    display: block;
    padding:10px 10px;
    text-decoration: none;
    color: #333;
}
#language-bar li a { position: relative; }
#language-bar li.active a,
#language-bar li a:hover { color:#FF8800; }
#language-bar li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:#FF8800;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}
#language-bar li.active a::after,
#language-bar li a:hover::after { transform: scale(1, 1); }

/*---------- multi-device support ----------*/
@media screen and (max-width: 1100px) {
    /* TABLET(541-1100px) */
    .main-description-narrow {
        font-size: 25px;
    }
    .sub-description-narrow {
        font-size: 20px;
    }
}
@media screen and (max-width: 540px) {
    /* SMART PHONE(376-540px) */
    .download-btn {
        margin-top: 10px;
        font-size: 15px;
    }
    .github-btn {
        margin-top: 10px;
        font-size: 15px;
    }
    .space {
        padding-top: 100px;
    }
}
@media screen and (max-width: 375px) {
    /* SMART PHONE(0-375px) */
    .main-description-narrow {
        font-size: 18px;
    }
    .sub-description-narrow {
        font-size: 15px;
    }
    .download-btn {
        margin-top: 10px;
        font-size: 14px;
    }
    .github-btn {
        margin-top: 10px;
        font-size: 15px;
    }
    .space {
        padding-top: 110px;
    }
}