.global-header {
    width: 110%;
    height: 50px;
    background-color: #4D4D4D;
    display: flex;
    .logo {
        width: 150px;
        margin-left: 5px;
        .img {
            width: 100%; 
            height: 100%;}}
    .nav {
        .menu {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            margin: auto;
            li {
                border: solid 1px rgba(194, 194, 194, 0.486); 
            }
            li a {
                color: rgb(255, 255, 255);
                display: block;
                margin: 12px;
                position: relative;
                text-align: center;
                text-decoration: none;
            }}}}

.global-footer {
    width: 100%;
    height: 30px;
    background-color: #4D4D4D;
    color: white;
    padding-top: 6px;
    text-align: center;
}