* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #181818;
  color: #ffffff;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  text-align: center;}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  transition : all 200ms;}
