/*---------- LAND ----------*/
.land-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
}

.disp-left {
  float: left;
  width: 50%;
  min-height: 100vh;
  background: url(../imgs/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
}

.disp-right {
  float: right;
  width: 50%;
  height: 100vh;
}

.disp-right .product-description {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.disp-right .product-description img {
  width: 80%;
  margin-bottom: 70px;
}

.disp-right .product-description .main-description {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.disp-right .product-description .sub-description {
  font-size: 25px;
  font-weight: 200;
}

.disp-right .product-description .to-download-btn {
  width: 90%;
  background-color: #ff880094;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px;
}

.disp-right .product-description .to-download-btn:hover {
  background-color: #0099b2;
  border: none;
}

.disp-right .product-description .github-btn {
  background-color: #8d8d8d94;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px;
  width: 90%;
}

.disp-right .product-description .github-btn:hover {
  background-color: #0099b2;
  border: none;
}

.disp-right .product-description .space {
  padding-top: 200px;
}

@media screen and (max-width: 1100px) {
  /* TABLET(541-1100px) */
  .disp-left {
    float: none;
    width: 100%;
    min-height: 40vh;
  }
  .disp-right {
    float: none;
    width: 100%;
    height: 60vh;
  }
  .disp-right .product-description img {
    width: 50%;
    margin-bottom: 10px;
  }
  .disp-right .product-description .main-description {
    font-size: 25px;
  }
  .disp-right .product-description .sub-description {
    font-size: 20px;
  }
  .disp-right .product-description .space {
    padding-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  /* SMART PHONE(376-540px) */
  .disp-right .product-description .main-description {
    font-size: 20px;
  }
  .disp-right .product-description .sub-description {
    font-size: 15px;
  }
  .disp-right .product-description .to-download-btn {
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
  }
  .disp-right .product-description .github-btn {
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {
  /* SMART PHONE(0-375px) */
  .disp-left {
    min-height: 50vh;
  }
  .disp-right {
    height: 50vh;
  }
  .disp-right .product-description .main-description {
    font-size: 18px;
  }
  .disp-right .product-description .sub-description {
    font-size: 14px;
  }
  .disp-right .product-description .to-download-btn {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .disp-right .product-description .github-btn {
    margin-top: 10px;
    font-size: 15px;
  }
}

/*---------- ABOUT ----------*/
.about-container {
  height: 180vh;
}

.about-title {
  margin-top: 100px;
}

.feature-block {
  width: 50%;
  height: 350px;
  background-color: rgba(102, 102, 102, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px auto;
}

.feature-block .feature-img {
  float: left;
  width: 50%;
}

.feature-block .feature-img img {
  width: 100%;
  height: 100%;
}

.feature-block .feature-desc {
  float: right;
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: left;
}

.feature-block .feature-desc b {
  font-size: 25px;
}

.feature-block .feature-desc p {
  font-size: 18px;
}

@media screen and (max-width: 1100px) {
  /* TABLET(541-1100px) */
  .feature-block {
    width: 90%;
    height: 350px;
    background-color: rgba(102, 102, 102, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 80px auto;
  }
  .feature-block .feature-img {
    float: left;
    width: 50%;
  }
  .feature-block .feature-img img {
    width: 100%;
    height: 100%;
  }
  .feature-block .feature-desc {
    float: right;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: left;
  }
  .feature-block .feature-desc b {
    font-size: 22px;
  }
  .feature-block .feature-desc p {
    font-size: 15px;
  }
}

@media screen and (max-width: 540px) {
  /* SMART PHONE(376-540px) */
  .about-container {
    height: 220vh;
  }
  .feature-block {
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    margin: auto;
  }
  .feature-block .feature-img {
    width: 100%;
    margin-top: 40px;
  }
  .feature-block .feature-img img {
    width: 80%;
    height: 300px;
  }
  .feature-block .feature-desc {
    width: 90%;
    text-align: center;
  }
  .feature-block .feature-desc b {
    font-size: 20px;
  }
  .feature-block .feature-desc p {
    font-size: 13px;
    text-align: left;
  }
}

@media screen and (max-width: 375px) {
  /* SMART PHONE(0-375px) */
  .about-container {
    height: 250vh;
  }
  .about-title h1 {
    font-size: 26px;
  }
  .about-title h4 {
    font-size: 12px;
  }
  .feature-block {
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    margin: auto;
  }
  .feature-block .feature-img {
    width: 100%;
    margin-top: 40px;
  }
  .feature-block .feature-img img {
    width: 80%;
    height: 250px;
  }
  .feature-block .feature-desc b {
    font-size: 15px;
  }
  .feature-block .feature-desc p {
    font-size: 12px;
    text-align: left;
  }
}

/*---------- NEWS ----------*/
.news-list {
  width: 60%;
  height: 90%;
  background-color: rgba(102, 102, 102, 0.7);
  margin: auto;
  margin-top: 50px;
  text-align: left;
}

.news-list .a-news {
  margin: 10px;
}

/*---------- DOWNLOAD ----------*/
.download-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
}

.download-logo {
  margin-top: 100px;
}

.download-logo img {
  width: 200px;
  height: 200px;
}

.download-btn {
  width: 300px;
  background-color: #ff880094;
  border: none;
  color: white;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
}

.download-btn:hover {
  background-color: #0099b2;
}

.spec-desc {
  font-size: 15px;
  margin-top: 40px;
}

.spec-desc b {
  font-size: 18px;
}

@media screen and (max-width: 1100px) {
  /* TABLET(541-1100px) */
}

@media screen and (max-width: 540px) {
  /* SMART PHONE(376-540px) */
  .download-logo {
    margin-top: 80px;
  }
  .download-logo img {
    width: 100px;
    height: 100px;
  }
  .download-btn {
    width: 200px;
    font-size: 15px;
    margin: 20px;
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {
  /* SMART PHONE(0-375px) */
}
/*# sourceMappingURL=style.css.map */