/*--------------- LAND ------------------------------------------------------*/
.land-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  /* mobile sideways */
}

.land-container .disp-left {
  float: left;
  width: 50%;
  min-height: 100vh;
  background: url(../imgs/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
}

.land-container .disp-right {
  float: right;
  width: 50%;
  height: 100vh;
}

.land-container .disp-right .product-description {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.land-container .disp-right .product-description img {
  width: 80%;
  margin-bottom: 70px;
}

.land-container .disp-right .product-description .main-description {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.land-container .disp-right .product-description .sub-description {
  font-size: 25px;
  font-weight: 200;
}

.land-container .disp-right .product-description .to-download-btn {
  width: 90%;
  background-color: #ff880094;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px;
}

.land-container .disp-right .product-description .to-download-btn:hover {
  background-color: #0099b2;
  border: none;
}

.land-container .disp-right .product-description .github-btn {
  background-color: #8d8d8d94;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px;
  width: 90%;
}

.land-container .disp-right .product-description .github-btn:hover {
  background-color: #0099b2;
  border: none;
}

.land-container .disp-right .product-description .space {
  padding-top: 200px;
}

@media screen and (max-width: 1100px) {
  .land-container {
    /* tablet(541-1100px) */
  }
  .land-container .disp-left {
    float: none;
    width: 100%;
    min-height: 40vh;
  }
  .land-container .disp-right {
    float: none;
    width: 100%;
    height: 60vh;
  }
  .land-container .disp-right .product-description img {
    width: 50%;
    margin-bottom: 10px;
  }
  .land-container .disp-right .product-description .main-description {
    font-size: 25px;
  }
  .land-container .disp-right .product-description .sub-description {
    font-size: 18px;
  }
  .land-container .disp-right .product-description .space {
    padding-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  .land-container {
    /* mobile(376-540px) */
  }
  .land-container .disp-right .product-description .main-description {
    font-size: 20px;
  }
  .land-container .disp-right .product-description .sub-description {
    font-size: 15px;
  }
  .land-container .disp-right .product-description .to-download-btn {
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
  }
  .land-container .disp-right .product-description .github-btn {
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {
  .land-container {
    /* mobile(0-375px) */
  }
  .land-container .disp-left {
    min-height: 50vh;
  }
  .land-container .disp-right {
    height: 50vh;
  }
  .land-container .disp-right .product-description .main-description {
    font-size: 18px;
  }
  .land-container .disp-right .product-description .sub-description {
    font-size: 12px;
  }
  .land-container .disp-right .product-description .to-download-btn {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .land-container .disp-right .product-description .github-btn {
    margin-top: 10px;
    font-size: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1100px) {
  .land-container .disp-left {
    min-height: 35vw;
  }
  .land-container .disp-right {
    height: 65vw;
  }
}

/*--------------- ABOUT -----------------------------------------------------*/
.about-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 180vh;
  /* mobile sideways */
}

.about-container .about-title {
  margin-top: 100px;
}

.about-container .feature-block {
  width: 50%;
  height: 350px;
  background-color: rgba(102, 102, 102, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px auto;
}

.about-container .feature-block .feature-img {
  float: left;
  width: 50%;
}

.about-container .feature-block .feature-img img {
  width: 100%;
  height: 100%;
}

.about-container .feature-block .feature-desc {
  float: right;
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: left;
}

.about-container .feature-block .feature-desc b {
  font-size: 25px;
}

.about-container .feature-block .feature-desc p {
  font-size: 18px;
}

@media screen and (max-width: 1100px) {
  .about-container {
    /* tablet(541-1100px) */
  }
  .about-container .feature-block {
    width: 90%;
  }
  .about-container .feature-block .feature-desc {
    padding: 10px;
  }
  .about-container .feature-block .feature-desc b {
    font-size: 22px;
  }
  .about-container .feature-block .feature-desc p {
    font-size: 15px;
  }
}

@media screen and (max-width: 540px) {
  .about-container {
    /* mobile(376-540px) */
    min-height: 220vh;
  }
  .about-container .feature-block {
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    margin: auto;
  }
  .about-container .feature-block .feature-img {
    width: 100%;
    margin-top: 40px;
  }
  .about-container .feature-block .feature-img img {
    width: 80%;
    height: 250px;
  }
  .about-container .feature-block .feature-desc {
    width: 90%;
    text-align: center;
  }
  .about-container .feature-block .feature-desc b {
    font-size: 20px;
  }
  .about-container .feature-block .feature-desc p {
    font-size: 13px;
    text-align: left;
  }
}

@media screen and (max-width: 375px) {
  .about-container {
    /* mobile(0-375px) */
    min-height: 250vh;
  }
  .about-container .about-title h1 {
    font-size: 26px;
  }
  .about-container .about-title h4 {
    font-size: 12px;
  }
  .about-container .feature-block .feature-img img {
    height: 200px;
  }
  .about-container .feature-block .feature-desc b {
    font-size: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1100px) {
  .about-container {
    /* tablet(541-1100px) */
    min-height: 180vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 540px) {
  .about-container {
    /* mobile(376-540px) */
    min-height: 220vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 375px) {
  .about-container {
    /* mobile(0-375px) */
    min-height: 250vw;
  }
}

/*--------------- NEWS ------------------------------------------------------*/
.news-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 90vh;
  position: relative;
  /* mobile sideways */
}

.news-container .news-list {
  width: 60%;
  min-height: 80vh;
  background-color: rgba(102, 102, 102, 0.404);
  border-radius: 4px;
  margin: auto;
  margin-top: 80px;
  padding-top: 30px;
  text-align: left;
}

.news-container .news-list .a-news {
  margin: 25px;
}

.news-container .news-list .a-news a {
  color: #ff9f67;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  .news-container {
    /* tablet(541-1100px) */
  }
  .news-container .news-list {
    width: 60%;
    min-height: 80vh;
    background-color: rgba(102, 102, 102, 0.404);
    border-radius: 4px;
    margin: auto;
    margin-top: 80px;
    padding-top: 30px;
    text-align: left;
  }
  .news-container .news-list .a-news {
    margin: 25px;
  }
}

@media screen and (max-width: 540px) {
  .news-container {
    /* mobile(376-540px) */
  }
  .news-container .news-list {
    width: 80%;
    margin-top: 60px;
    padding-top: 20px;
  }
  .news-container .news-list .a-news {
    margin: 15px;
  }
}

@media screen and (max-width: 375px) {
  .news-container {
    /* mobile(0-375px) */
  }
  .news-container .news-list {
    margin-top: 50px;
    padding-top: 15px;
  }
  .news-container .news-list .a-news {
    margin: 10px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1100px) {
  .news-container {
    /* tablet(541-1100px) */
    min-height: 90vw;
  }
  .news-container .news-list {
    min-height: 80vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 540px) {
  .news-container {
    /* mobile(376-540px) */
  }
}

@media screen and (orientation: landscape) and (max-width: 375px) {
  .news-container {
    /* mobile(0-375px) */
  }
}

/*--------------- DOWNLOAD --------------------------------------------------*/
.download-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 90vh;
  /* mobile sideways */
}

.download-container .download-logo {
  margin-top: 100px;
}

.download-container .download-logo img {
  width: 200px;
  height: 200px;
}

.download-container .download-btn {
  width: 300px;
  background-color: #ff880094;
  border: none;
  color: white;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
}

.download-container .download-btn:hover {
  background-color: #0099b2;
}

.download-container .spec-desc {
  font-size: 15px;
  margin-top: 40px;
}

.download-container .spec-desc b {
  font-size: 18px;
}

@media screen and (max-width: 1100px) {
  .download-container {
    /* tablet(541-1100px) */
  }
}

@media screen and (max-width: 540px) {
  .download-container {
    /* mobile(376-540px) */
  }
  .download-container .download-logo {
    margin-top: 80px;
  }
  .download-container .download-logo img {
    width: 100px;
    height: 100px;
  }
  .download-container .download-btn {
    width: 200px;
    font-size: 15px;
    margin: 20px;
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {
  .download-container {
    /* mobile(0-375px) */
  }
  .download-container .spec-desc {
    font-size: 13px;
    margin-top: 30px;
  }
  .download-container .spec-desc b {
    font-size: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1100px) {
  .download-container .download-logo {
    margin-top: 50px;
  }
  .download-container .download-logo img {
    width: 100px;
    height: 100px;
  }
  .download-container .download-btn {
    font-size: 15px;
    margin: 20px;
    padding: 5px;
  }
  .download-container .spec-desc {
    font-size: 13px;
    margin-top: 20px;
  }
  .download-container .spec-desc b {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */